<p class="name">{{name}}</p>
<div class="table">
<ul class="clearfix">
  <li class="hasBG">
    <dl>
      <dt>产品代码：</dt>
      <dd>{{code}}</dd>
    </dl>
  </li>
  <li class="hasBG">
    <dl>
      <dt>理财币种：</dt>
      <dd>{{currency}}</dd>
    </dl>
  </li>
  <li class="hasBG">
    <dl>
      <dt>产品类型：</dt>
      <dd>{{investmentType}}</dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>发行公司：</dt>
      <dd>{{bank.name}}</dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>风险类型：</dt>
      <dd>{{riskType}}</dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>起售日：</dt>
      <dd>{{purchaseStartDate}}</dd>
    </dl>
  </li>
  <li class="hasBG">
    <dl>
      <dt>销售银行：</dt>
      <dd>{{bank.name}}</dd>
    </dl>
  </li>
  <li class="hasBG">
    <dl>
      <dt>风险程度：</dt>
      <dd>{{riskLevel}}</dd>
    </dl>
  </li>
  <li class="hasBG">
    <dl>
      <dt>停售日：</dt>
      <dd>{{purchaseEndDate}}</dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>预期收益：</dt>
      <dd>{{twoDecimals estimatedYearRate}}%</dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>起售金额：</dt>
      <dd>{{minimumPurchase}}（万元）</dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>起息日：</dt>
      <dd>{{makeMoneyDate startDate "bottom"}}</dd>
    </dl>
  </li>
  <li class="hasBG">
    <dl>
      <dt>理财期限：</dt>
      <dd>{{durationDom duration}}</dd>
    </dl>
  </li>
  <li class="hasBG">
    <dl>
      <dt>专属标志：</dt>
      <dd>{{intendedCustomerType}}</dd>
    </dl>
  </li>
  </li>
  <li class="hasBG">
    <dl>
      <dt>到期日：</dt>
      <dd>{{collectMoneyDate endDate "bottom"}}</dd>
    </dl>
  </li>
</ul>
</div>